{% extends 'layouts.admin_bare' %}

{% block content %}
	<div class="login-box">
		<div class="login-logo">
			SD Hub
		</div>
		<!-- /.login-logo -->
		<div class="login-box-body">
			<p class="login-box-msg">Please enter your email address</p>
			<form method="post">
				<input type="hidden" name="_token" value="{{ csrf_token()|raw }}" />
				<div class="form-group has-feedback">
					<input type="email" name="email" class="form-control" placeholder="Email">
					<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
				</div>
				<div class="row">
					<div class="col-xs-8">
					</div>
					<!-- /.col -->
					<div class="col-xs-4">
						<button class="btn btn-primary btn-cons pull-right" type="submit">Send Reminder</button>
					</div>
					<!-- /.col -->
				</div>
			</form>
		</div>
		<!-- /.login-box-body -->
	</div>
	<!-- /.login-box -->
{% endblock %}
