{% extends 'layouts.admin_bare' %}

{% block content %}
	<div class="login-box">
		<div class="login-logo">
			{{ app_title }}
		</div>
		<!-- /.login-logo -->
		<div class="login-box-body">
			<p class="login-box-msg">Sign in to start your session</p>
			<form method="post">
				<input type="hidden" name="_token" value="{{ csrf_token()|raw }}" />
				<div class="form-group has-feedback">
					<input type="email" name="email" class="form-control" placeholder="Email">
					<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
				</div>
				<div class="form-group has-feedback">
					<input type="password" name="password" class="form-control" placeholder="Password">
					<span class="glyphicon glyphicon-lock form-control-feedback"></span>
				</div>
				<div class="row">
					<div class="col-xs-8">
					</div>
					<!-- /.col -->
					<div class="col-xs-4">
						<button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
					</div>
					<!-- /.col -->
				</div>
				{% if demo %}
					<div class="row">
						<div class="col-md-12">
							Username: admin@example.org
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							Password: admin
						</div>
					</div>
				{% endif %}
			</form>
		<a href="{{ url('auth/forgot-password') }}">I forgot my password</a><br>
		</div>
		<!-- /.login-box-body -->
	</div>
	<!-- /.login-box -->
{% endblock %}
