Password reminder request<br />
<br />
Hi {{ name }}, <br />
A password reminder request has been made at SDHub using this email address.  If this was not you, please ignore this email.<br />
Otherwise, click the link below to reset your password.<br />
<br />
<a href='{{ url('auth/forgot-password-confirmation/' ~ userid ~ '/' ~ code) }}'>Reset Password</a>
