{% extends 'layouts.admin_main' %}


{% block pagejs %}
    <script src="{{ url('assets/js/dashboard.index.js') }}"></script>
{% endblock %}


{% block content %}
	<div class="notification"></div>
{% endblock %}
