.dashcontainer {
	float:left;
	clear: right;
	margin:2px;
}
.sortable {
	list-style-type: none;
	margin:0; padding:2px;
	min-height:700px;
	border-radius: 5px;
}
.state-body {
	padding:0px;
	background:#f5f5f5;
}
.card-panel {
	margin-bottom:5px;
	font-size: 14px;
}
.card-panel-body {
	padding-left: 8px;
    padding-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
	min-height:60px;
	position: relative;
}
.card-links {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 5px;
    padding-bottom: 5px;
}
